{% extends "base.html" %}

{% block content %}
    <h2>Bienvenido, {{agent.getAgent_name()}}</h2>
    <span>Facción: {{agent.getFaction()}}</span>
    <br>
    <span>Level: {{agent.getStats().last().getLevel()}}</span>

    <form action="" method="post" name="namechange">
        <label for="newname">Nuevo nombre</label>
        <input type="text" name="newname">
        <button type="submit" name="change"> Cambiar</button>
    </form>

    <aside>
    <nav>
    <br>
    <a href="/statsupload">Subir estadisticas</a>
    <br>
    <a href="/ranking">Ranking</a>
    <br>
    <a href="/eventlist">Listado de Eventos</a>
    <br>
    <br>
    <form action="" method="post" name="logout">
        <button type="submit" name="logout" value="logout">Log out / Cerrar Sesión</button>
    </form>
</nav>
</aside>
{% endblock %}
